.SidebarRH{
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 220px;
    padding: 32px;
    border-right: thick double #5380cc;
    
}


.btn{
    width: max-content;
}

